---
import Logo from '../../../public/assets/corncob-design-language.svg';
const base = import.meta.env.BASE_URL;
---

<header class="corn-header">
  <div class="corn-company">
    <div class="corn-company--logo">
      <Logo aria-hidden="true" />
    </div>
    <div class="corn-company--name">Corncob</div>
  </div>
  <nav class="corn-header--nav">
    <corn-button-bar class="corn-button-bar">
      <a href={base} class="corn-button corn-button--sm">Overview</a>
      <a href={`${base}getting-started/`} class="corn-button corn-button--sm">Getting Started</a>
      <a href={`${base}tokens/`} class="corn-button corn-button--sm">Tokens</a>
      <a href={`${base}components/`} class="corn-button corn-button--sm">Components</a>
      <a href={`${base}testing/`} class="corn-button corn-button--sm">Testing</a>
      <a href={`${base}about/`} class="corn-button corn-button--sm">About</a>
      <div class="corn-popover--anchor corn-button-bar--more">
        <button class="corn-button corn-button--sm corn-pop" aria-controls="button-bar-popover">
          More
        </button>
        <corn-popover
          position="bottom"
          id="button-bar-popover"
          class="corn-popover corn-popover--bottom"></corn-popover>
      </div>
    </corn-button-bar>
  </nav>
</header>
