---
import { Image } from 'astro:assets';
import HeroImage from '../../images/corncob-colorized.png';
import bootstrapIconsSprite from 'bootstrap-icons/bootstrap-icons.svg?url';
const base = import.meta.env.BASE_URL;
---

<header class="corn-header">
  <div class="corn-company">
    <div class="corn-company--logo">
      <Image src={HeroImage} alt="" class="docs-corncob-logo" />
    </div>
    <div class="corn-company--name">Corncob</div>
  </div>
  <nav class="corn-header--nav">
    <corn-button-bar class="corn-button-bar">
      <a href={base} class="corn-button corn-button--sm">Overview</a>
      <a href={`${base}getting-started/`} class="corn-button corn-button--sm">Getting Started</a>
      <a href={`${base}tokens/`} class="corn-button corn-button--sm">Tokens</a>
      <a href={`${base}components/`} class="corn-button corn-button--sm">Components</a>
      <a href={`${base}testing/`} class="corn-button corn-button--sm">Testing</a>
      <a href={`${base}about/`} class="corn-button corn-button--sm">About</a>
      <div class="corn-popover--anchor corn-button-bar--more">
        <button class="corn-button corn-button--sm corn-pop" aria-controls="button-bar-popover">
          More
        </button>
        <corn-popover
          position="bottom"
          id="button-bar-popover"
          class="corn-popover corn-popover--bottom"></corn-popover>
      </div>
    </corn-button-bar>
  </nav>
  <div class="corn-header--actions">
    <a
      href="https://github.com/bootsmonday/corncob-design-language"
      class="corn-button corn-button--icon corn-button--xs"
      aria-label="Corncob Design Language GitHub Repository"
    >
      <svg class="corn-icon"><use href={`${bootstrapIconsSprite}#github`}></use></svg>
    </a>
  </div>
</header>
